@charset "utf-8";

// Set your brand colors
$pink: #fa7c91;
$beige-light: #d0d1cd;
$orange: rgb(5, 206, 145);

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with (
  $text: $beige-light,
  $weight-normal: 500,
  $family-primary: "firacode, monospace",
  $primary: $orange,
  $info: $pink
);

// Import the components you need
@forward "bulma/sass/base";
@forward "bulma/sass/components";
@forward "bulma/sass/elements";
@forward "bulma/sass/form";
@forward "bulma/sass/grid";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout";
@forward "bulma/sass/themes";

@font-face {
  font-family: firacode;
  src: url("../fonts/FiraCode-VariableFont_wght.ttf");
}

html {
  line-height: 1.15;
}

// fontawesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts/";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";
